<div class="review-block">
  <div class="container">
    <h3 class="center">{{block.settings.title}}</h3>
    <div id="stamped-main-widget" 
      data-widget-style="standard"
      data-take="3" 
      data-product-image="false" 
      data-label-subtitle="{0} Reviews" 
      data-product-id="{{ product.id }}" 
      data-name="{{ product.title | escape }}" 
      data-url="{{ shop.url }}{{ product.url }}" 
      data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
      data-description="{{ product.description | escape }}" 
      data-product-sku="{{product.handle}}"> 
  </div>
  </div>
</div>
