<div class="content_block_item flex block-{{block.id}} grid-{{block.settings.per_row}}">
  <div class="info text-align--{{block.settings.frontpage_text_align}}">
    <div class="icon center">
      {{ block.settings.icon }}
    </div>
    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title  title-{{block.settings.title_size}}">
      {{ block.settings.title }}
    </a>
    {% if block.settings.text != blank or block.settings.image %}
      <div class="description grid-one text-{{block.settings.text_style}}">{{ block.settings.text }}</div>
    {% endif %}
  </div>
</div>

<style>
  .block-{{block.id}} {
    background-color: {{ block.settings.bg_color }}; 
    margin: 0 {{block.settings.margin_width}}px;
  }
  
  {% if block.settings.color != blank and block.settings.color != 'rgba(0,0,0,0)' %}
    .block-{{block.id}} .collection_title, .block-{{block.id}} .description p {
      color: {{block.settings.color}};
    }
  {% endif %}

  {% if block.settings.text_style == 'image' %}
    .block-{{block.id}} {
      background: url("{{block.settings.image | img_url: '2048x' }}") 50% 50% / cover no-repeat;
    }
  {% endif %}
</style>