{% if block.settings.layout == false %}
  <div class="container standard--width">
{% endif %}
<div class="image-with-text-section featured_collections clearfix across-1 image-align--{{ block.settings.frontpage_image_position }}">
  <section class="featured-link--section featured-link--image section-{{ forloop.index }}">
    <div class="featured-link--half featured-link--image {% if block.settings.layout == false %}featured-link--margin{% endif %} image-crop--{{ block.settings.image_crop }}">
      <div class="featured-link--wrap">
        <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title }}">
          {% if block.settings.image %}
            {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt %}
          {% else %}
            {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
            {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
          {% endif %}
          {% if block.settings.overlay_title != blank %}
            <h1 class="title">{{block.settings.overlay_title}}</h1>
          {% endif %}
          
        </a>
      </div>
    </div>
    <div class="featured-link--half">
      <div class="info text-align--{{block.settings.frontpage_text_align}}">
        <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title  title-{{block.settings.title_size}}">
          {{ block.settings.title }}
        </a>
        <h4 class="uppercase">{{block.settings.sub_title}}</h4>
        {% if block.settings.text != blank %}
          <div class="description grid-{{block.settings.grid_style}} text-{{block.settings.text_style}}">
            {% if block.settings.grid_style != 'one' %}
            {{ block.settings.text | replace: '<p></p>', '</div><div>' | prepend: '<div>' | append: '</div>' }}
            {% else %}
              {{block.settings.text}}
            {% endif %}
            
          </div>
        {% endif %}
        {% if block.settings.button_label != blank %}
          <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="button">
            {{ block.settings.button_label }}
          </a>
        {% endif %}
        <div class="author-images">
          {% if block.settings.author_image_1 != blank %}
            <div class="image-item">
              {% include 'image-element' with
                image: block.settings.author_image_1,
                alt: block.settings.author_title_1
              %}
              <p class="uppercase center">{{block.settings.author_title_1}}</p>
            </div>
          {% endif %}
          {% if block.settings.author_image_2 != blank %}
            <div class="image-item">
              {% include 'image-element' with
                image: block.settings.author_image_2,
                alt: block.settings.author_title_2
              %}
              <p class="uppercase center">{{block.settings.author_title_2}}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>
{% if block.settings.layout == false %}
  </div>
{% endif %}