<div class="tos_warning mini-cart-content cart_content animated fadeInRight">
  <div class="header">
    <a href="/cart">{{'cart.general.title' | t }}</a>
    <a class="close">{% render 'icon-pack' with icon: 'close' %} close</a>
    <div class="progress-content {% if cart.item_count < 1 %}hidden{% endif %}">
      {% assign left_price = settings.cart_limit | minus: cart.total_price %}
      {% assign progress = cart.total_price | times: 100 | divided_by: settings.cart_limit %}
      <div class="progress-bar" data-limit="{{settings.cart_limit}}">
        <div class="progress" style="width: {{progress}}%;"></div>
        {% if left_price > 0 %}
          <span>Only {{ left_price | money }} away from FREE shipping!</span>
        {% else %}
          <span>✓ Congratulations! You've earned a FREE SIPPING!</span>
        {% endif %}
        
      </div>
    </div>
  </div>
  <div class="content">
    <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
      <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
    </div>
    <form action="{{ routes.cart_url }}"
          method="post"
          class="{% if cart.item_count == 0 %}hidden{% endif %}"
          data-total-discount="{{ cart.total_discount }}"
          data-money-format="{{ shop.money_format | strip_html }}"
          data-shop-currency="{{ shop.currency }}"
          data-shop-name="{{ shop.name | escape }}"
          data-cart-form="mini-cart">
      <ul class="cart_items js-cart_items">
        {% assign total_saving = 0 %}
        {% for item in cart.items %}
          {% if item.variant.compare_at_price > item.variant.price %}
            {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
            {% assign total_saving = saving | plus: total_saving %}
          {% endif %}
  
          <li class="mini-cart__item" data-cart-item data-line-id="{{ forloop.index }}" data-variant-id="{{ item.id }}">
  
  
            <a href="{{ item.url }}">
              {% if item.image %}
                <div class="cart_image mini-cart__item-image">
                  <img src="{{ item.image | img_url: '320x' }}" alt="{{ item.title | escape }}" class="lazyload" />
                </div>
              {% endif %}
            </a>
  
            <div class="mini-cart__item--content">
              <div class="mini-cart__item__title">
                <div class="item_title">
                  <a href="{{ item.url }}">
                    {{ item.product.title }}
                    {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                      -
                      {% for option in item.product.options %}
                        {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                      {% endfor %}
                    {% endunless %}
                    {% if item.properties %}
                      {% for p in item.properties %}
                        {% if p.last != blank %}
                          <div class="line-item">
                            {{ p.first }}: {{ p.last }}
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </a>
                </div>
              </div>
  
              <strong class="left price">
                  <span class="quantity">{{item.quantity}}</span> X 
                {% if item.price > 0 %}
                  <span class="money {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}sale{% endif %}">
                    {% render 'price-element', price: item.final_price %}
                  </span>
                  {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}
                    <span class="money was_price">
                      {% render 'price-element', price: item.variant.compare_at_price %}
                    </span>
                  {% endif %}
                {% else %}
                    {{ settings.free_price_text }}
                {% endif %}
              </strong>
  
              {% if item.line_level_discount_allocations.size > 0 %}
                {% for discount_allocation in item.line_level_discount_allocations %}
                  <p class="notification-discount meta">
                    {{ discount_allocation.discount_application.title }}
                  </p>
                {% endfor %}
              {% endif %}
            </div>
  
            <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="cart__remove-btn" data-line-id="{{ forloop.index }}" data-remove-item="mini-cart"><span class="remove-icon"></span></a>
  
          </li>
        {% endfor %}
      </ul>
  
      <ul class="sub_total_content">
        <li class="item-review">
          {% assign product = cart.items | last %}
          <script>console.log({{cart.items | last | json}})</script>
           <div class='stamped-reviews-widget-desktop_visible visible-none'>
             <div id="stamped-reviews-widget" data-widget-type="full-page" data-product-image="false" data-take="1" data-limit-words="50" data-fill-empty="false" data-random="false"></div>
           </div>
        </li>
        <li class="cart_discounts js-cart_discounts sale">
          {% if cart.cart_level_discount_applications != blank %}
            {% for discount_application in cart.cart_level_discount_applications %}
              <span class="cart_discounts--title">{{ discount_application.title }}</span>
              <span class="cart_discounts--price">
                -<span class="money">{% render 'price-element', price: discount_application.total_allocated_amount %}</span>
              </span>
            {% endfor %}
          {% endif %}
        </li>
  
        <li class="cart_subtotal js-cart_subtotal">
          <span class="right">
            <span class="money">{% render 'price-element', price: cart.total_price %}</span>
          </span>
          <span>{{ 'layout.general.subtotal' | t }}</span>
        </li>
  
        <li class="cart_savings sale js-cart_savings">
          {% if settings.display_savings and total_saving > 0 or settings.display_savings and cart.total_discount > 0 %}
            <span class="right">
              <span class="money">{% assign total_savings = total_saving | plus: cart.total_discount %}{% render 'price-element', price: total_savings %}</span>
            </span>
            <span>{{ 'layout.general.savings' | t }}</span>
          {% endif %}
        </li>
  
        <li>
          {% if settings.display_special_instructions and settings.go_to_checkout %}
            <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}">{{ cart.note }}</textarea>
          {% endif %}
  
          {% if settings.display_tos_checkbox and settings.go_to_checkout %}
            <p class="tos">
              <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                <label class="tos_label">
                  {{ 'cart.general.agree_to_terms_html' | t }}
                </label>
                {% if settings.tos_page != blank %}
                  <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                {% endif %}
            </p>
          {% endif %}
  
          {% if settings.go_to_checkout %}
            <button type="submit" name="checkout" class="button button-black full-button action_button add_to_cart">{% if settings.show_lock_icon %}<span class="icon-lock"></span>{% endif %}{{ 'layout.general.checkout' | t }}</button>
          {% else %}
            <button type="submit" class="button button-black full-button action_button add_to_cart">{% if settings.show_lock_icon and settings.go_to_checkout %}<span class="icon-lock"></span>{% endif %}{{ 'layout.general.go_to_cart' | t }} </button>
          {% endif %}
          <p class=" message text-center">{% include 'icon-pack' with icon: 'guarantee' %}<em>30 Day Love it or Return it Guarantee</em></p>
        </li>
      </ul>
  </div>
  
  </form>
</div>