<div class="container full-width--true image-slider-content">
  <div class="heading">
    <h2 class="text-center">{{ section.settings.title }}</h2>
    <h4 class="text-center">{{ section.settings.desc | strip_html }}</h4>
  </div>
  <div id='bar'>
    {% for block in section.blocks %}
      <div class="label-indicator align-{{block.settings.direction}}" style="left: {{block.settings.left_pos}}%; top: {{ block.settings.top_pos }}%;">
        <span class="title">{{block.settings.title}}</span>
        <div class="pointer"></div>
      </div>
    {% endfor %}
    <img class="bg_image" src="{{ section.settings.bg_image | img_url: '2048x' }}">
    <div id='slider'>
      <div class="image-content">
        <img class="hover_image" src="{{ section.settings.hover_image | img_url: '2048x' }}">
      </div>
      <div id="slider-button"></div>
    </div>
  </div>
  <div class="list medium-down--show hide">
    <ul>
      {% for block in section.blocks %}
        <li class="label-indicator align-{{block.settings.direction}}" style="left: {{block.settings.left_pos}}%; top: {{ block.settings.top_pos }}%;">
          <span class="uppercase">{{block.settings.title}}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Image slider section",
  "class": "image-slider-section",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "MEET THE LEGEND"
      },
      {
        "type": "richtext",
        "id": "desc",
        "label": "Description"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Bacground image"
      },
      {
        "type": "image_picker",
        "id": "hover_image",
        "label": "Hover image"
      }
  ],
  "blocks": [
      {
        "type": "label",
        "name": "Label",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "TItle"
          },
          {
            "type": "text",
            "id": "left_pos",
            "label": "Left Position"
          },
          {
            "type": "text",
            "id": "top_pos",
            "label": "Top position"
          },
          {
            "type": "select",
            "id": "direction",
            "label": "Label directoin",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          }
        ]
      }
  ],
  "presets": [
    {
      "category": "image",
      "name":"Image slider"
    }
  ]
}
{% endschema %}