{% comment %}
** Image with text (half and half view) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% if section.settings.frontpage_grid_style == false %}
  <div class="container">
    <div class="sixteen columns">
{% endif %}

    <div class="image-with-text
                featured_collections
                clearfix across-{{section.settings.featured_links_per_row}} image-align--{{ section.settings.frontpage_image_position }}
                full-width--{{ section.settings.frontpage_grid_style }}
                ">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          <section class="featured-link--section featured-link--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
            <div class="featured-link--half featured-link--image featured-link--margin image-crop--{{ block.settings.image_crop }}">
              <div class="featured-link--wrap">
                {% if block.settings.link != blank and block.settings.button_label == blank %}
                <a href="{{ block.settings.link }}" title="{{ block.settings.title }}">
                {% endif %}
                  {% if block.settings.image %}
                    {% render 'image-element',
                            image: block.settings.image,
                            alt: block.settings.image.alt,
                            stretch_width: true,
                            additional_classes: 'mediumn-down--hide'
                    %}
                    {% render 'image-element',
                      image: block.settings.mobile_image,
                      alt: block.settings.mobile_image.alt,
                      stretch_width: true,
                      additional_classes: 'hide mediumn-down--show'
                    %}
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                {% if block.settings.link != blank and block.settings.button_label == blank%}
                </a>
                {% endif %}
              </div>
              <a href="#video-popup" class="modal_btn video_btn">{% include 'icon-pack' with icon: 'play' %}</a>
              {% if block.settings.image_caption != blank %}
                <p class="image-caption caption-{{block.settings.caption_position}}">{{block.settings.image_caption}}</p>
              {% endif %}
            </div>
            <div class="featured-link--half block--{{ block.id }}">
              <div class="info text-align--{{section.settings.frontpage_text_align}}">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="{%if block.settings.red_dot_status %}red_dot {% endif %}collection_title {%if block.settings.title_transform %} uppercase {% endif %} title-{{block.settings.title_size}}">
                  {{ block.settings.title }}
                </a>
                {% if block.settings.text != blank %}
                  <div class="description grid-{{block.settings.grid_style}}">
                    {{ block.settings.text | replace: '<p></p>', '</div><div>' | prepend: '<div>' | append: '</div>' }}
                  </div>
                {% endif %}
                {% if block.settings.button_label != blank %}
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="button {% if block.settings.highlight_button_style %} highlight-false border-brown{% else %} button-black{%endif%}">
                    {{ block.settings.button_label }}
                  </a>
                {% endif %}
              </div>
            </div>
            <div id="video-popup" class="modal">
              <div class="modal-content">
                {% include 'include-video-popup' with type: "block" %}
              </div>
            </div>
          </section>
        {% endfor %}
      {% endif %}
    </div>
{% if section.settings.frontpage_grid_style == false %}
    </div>
  </div>
{% endif %}


{% comment %} Is the color set to transparent? {% endcomment %}
{% assign bg_alpha = block.settings.bg_color | color_extract: 'alpha' %}

<style>

  {% for block in section.blocks %}
    .block--{{ block.id }} {
      background-color: {{ block.settings.bg_color }};
    }

    .block--{{ block.id }} .collection_title,
    .block--{{ block.id }} p {
      color: {{ block.settings.text_color }};
    }
  {% endfor %}

  {% if section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '1' %}
      #shopify-section-{{ section.id }} .featured-link--half {
        width: 45%;
      }

      #shopify-section-{{ section.id }} .featured-link--margin {
        {% if section.settings.frontpage_image_position == 'right' %}
          margin-left: 10px;
        {% else %}
          margin-left: 0;
          margin-right: 10px;
        {% endif %}
      }

      #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
        {% if section.settings.frontpage_image_position == 'right' %}
          margin-left: 0;
          margin-right: 10px;
        {% else %}
          margin-left: 10px;
          margin-right: 0;
        {% endif %}
      }

    {% elsif section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '2' %}

        @media only screen and (max-width: 480px) {
          #shopify-section-{{ section.id }} .featured-link--section {
            margin-bottom: 10%;
          }
        }

        #shopify-section-{{ section.id }} .featured-link--margin {
          margin-right: 0;
          margin-left: 0;
        }

        #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
          margin-left: 0;
          margin-right: 0;
        }

      {% endif %}
</style>

{% schema %}
{
  "name": "Image with text(VIDEO)",
  "class": "image-with-text-section video-popup",
  "max_blocks": 16,
  "settings": [
    {
      "type": "checkbox",
      "id": "frontpage_grid_style",
      "label": "Wide display"
    },
    {
      "type": "select",
      "id": "featured_links_per_row",
      "label": "Images per row",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "frontpage_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "frontpage_image_position",
      "label": "First image position",
      "info": "Subsequent images will appear staggered",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image"
        },
        {
          "type": "select",
          "id": "image_crop",
          "label": "Image cropping",
          "default": "none",
          "info": "Only applied when text area is taller than image.",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "text",
          "id": "image_caption",
          "label": "Image caption",
          "default": "In PHOTO: Epic Studio ..."
        },
        {
          "type": "select",
          "id": "caption_position",
          "label": "Caption position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "checkbox",
          "id": "title_transform",
          "label": "Title Status"
        },
        {
          "type": "checkbox",
          "id": "red_dot_status",
          "label": "Red dot status"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title size",
          "options": [
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "small",
              "label": "Small"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "select",
          "id": "grid_style",
          "label": "Grid style",
          "options": [
            {
              "value": "one",
              "label": "Column one"
            },
            {
              "value": "two",
              "label": "Column two"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View all"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "highlight_button_style",
          "label": "Highlight button style"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "video"
        },
        {
          "type": "checkbox",
          "id": "video_status",
          "label": "Show video"
        },
        {
          "type": "video_url",
          "id": "iframe_video",
          "label": "Video link",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "text",
          "id": "html5_video",
          "label": "HTML5 MP4/OGV File URL"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Image with text(video popup)",
    "category": "Video",
    "settings": {
      "featured_links_per_row": "1",
      "frontpage_text_align": "left"
    },
    "blocks": [
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
