{% comment %}
** Image with text (half and half view) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% if section.settings.frontpage_grid_style == false %}
  <div class="container">
    <div class="sixteen columns">
{% endif %}

    <div class="image-with-text
                featured_collections
                clearfix across-{{section.settings.featured_links_per_row}} image-align--{{ section.settings.frontpage_image_position }}
                full-width--{{ section.settings.frontpage_grid_style }}
                ">
      <section class="featured-link--section featured-link--image" {{ section.shopify_attributes }}>
        <div class="featured-link--half featured-link--image featured-link--margin image-crop--{{ section.settings.image_crop }}">
          <div class="featured-link--wrap">
            {% if section.settings.link != blank and block.settings.button_label != blank%}
            <a href="{{ section.settings.link }}" title="{{ section.settings.title }}">
            {% endif %}
              {% if section.settings.image %}
                {% render 'image-element',
                        image: section.settings.image,
                        alt: section.settings.image.alt,
                        back_to_basics: true,
                        stretch_width: true
                %}
              {% else %}
                {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
              {% endif %}
            {% if section.settings.link != blank and block.settings.button_label != blank%}
            </a>
            {% endif %}
          </div>
          {% if section.settings.caption != blank %}
            <p class="caption-label"><span>{{section.settings.caption}}</span></p>
          {% endif %}
          {% if section.settings.image_caption != blank %}
            <a class="image-caption" href="{{section.settings.link}}">{{section.settings.image_caption}}</a>
          {% endif %}
          
        </div>
        <div class="featured-link--half block--{{ section.id }}" style="{{section.settings.text_inline_style}}">
          <div class="review-carousel carousel">
            {% for block in section.blocks %}
              <div class="gallery-cell">
                <div class="info text-align--{{section.settings.frontpage_text_align}}">
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title  {%if block.settings.title_transform %} uppercase {% endif %} title-{{block.settings.title_size}}">
                    {% if block.settings.quote %}
                    {% include 'icon-pack' with icon: 'quote' %} 
                    {% endif %}
                    {{ block.settings.title }}
                  </a>
                  {% if block.settings.text != blank %}
                    <div class="description grid-{{block.settings.grid_style}}">{{ block.settings.text }}</div>
                  {% endif %}
                  {% if block.settings.author %}
                    <strong class="author">{{ block.settings.author }}</strong>
                  {% endif %}
                  <div class="review-stars">
                    {% for item in (1..block.settings.review_star) %}
                      {% include 'icon-pack' with icon: 'review-star' %}
                    {% endfor %}
                  </div>
                  {% if block.settings.button_label != blank %}
                    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="button button-black">
                      {{ block.settings.button_label }}
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
{% if section.settings.frontpage_grid_style == false %}
    </div>
  </div>
{% endif %}


{% comment %} Is the color set to transparent? {% endcomment %}
{% assign bg_alpha = block.settings.bg_color | color_extract: 'alpha' %}

<style>

  {% for block in section.blocks %}
    .block--{{ block.id }} {
      background-color: {{ block.settings.bg_color }};
    }

    .block--{{ block.id }} .collection_title,
    .block--{{ block.id }} p {
      color: {{ block.settings.text_color }};
    }


    .block--{{ block.id }} a.button:hover {
      color: {% if bg_alpha != 0 %}{{ block.settings.bg_color }}{% else %}{{ settings.shop_bg_color }}{% endif %};
      border-color: {{ block.settings.text_color }};
      background-color: {{ block.settings.text_color }};
    }
  {% endfor %}

  {% if section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '1' %}
      #shopify-section-{{ section.id }} .featured-link--half {
        width: 45%;
      }

      #shopify-section-{{ section.id }} .featured-link--margin {
        {% if section.settings.frontpage_image_position == 'right' %}
          margin-left: 10px;
        {% else %}
          margin-left: 0;
          margin-right: 10px;
        {% endif %}
      }

      #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
        {% if section.settings.frontpage_image_position == 'right' %}
          margin-left: 0;
          margin-right: 10px;
        {% else %}
          margin-left: 10px;
          margin-right: 0;
        {% endif %}
      }

    {% elsif section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '2' %}

        @media only screen and (max-width: 480px) {
          #shopify-section-{{ section.id }} .featured-link--section {
            margin-bottom: 10%;
          }
        }

        #shopify-section-{{ section.id }} .featured-link--margin {
          margin-right: 0;
          margin-left: 0;
        }

        #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
          margin-left: 0;
          margin-right: 0;
        }

      {% endif %}
</style>

{% schema %}
{
  "name": "Image with reviews",
  "class": "image-with-text-section image-reviews-section",
  "max_blocks": 16,
  "settings": [
    {
      "type": "checkbox",
      "id": "frontpage_grid_style",
      "label": "Wide display"
    },
    {
      "type": "select",
      "id": "featured_links_per_row",
      "label": "Images per row",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "frontpage_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "frontpage_image_position",
      "label": "First image position",
      "info": "Subsequent images will appear staggered",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1024 x 1024px recommended"
    },
    {
      "type": "select",
      "id": "image_crop",
      "label": "Image cropping",
      "default": "none",
      "info": "Only applied when text area is taller than image.",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption",
      "default": "2000+ 5 star reviews"
    },
    {
      "type": "text",
      "id": "image_caption",
      "label": "Image caption",
      "default": "In PHOTO: Epic Studio ..."
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "text_inline_style",
      "label": "Text inline style"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "checkbox",
          "id": "quote",
          "label": "Quote status"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "checkbox",
          "id": "title_transform",
          "label": "Title Status"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title size",
          "options": [
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "small",
              "label": "Small"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "select",
          "id": "grid_style",
          "label": "Grid style",
          "options": [
            {
              "value": "one",
              "label": "Column one"
            },
            {
              "value": "two",
              "label": "Column two"
            }
          ]
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "range",
          "id": "review_star",
          "label": "Review star",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 1
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View all"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Image reviews",
    "category": "Image",
    "settings": {
      "featured_links_per_row": "1",
      "frontpage_text_align": "left"
    },
    "blocks": [
      {
        "type": "review"
      }
    ]
  }]
}
{% endschema %}
