{% assign heading_title = 'customer.account.title' | t %}

<header class="banner center page-banner dark-overlay-{{ section.settings.image_darken }}">
  {% render 'image-element',
          image: section.settings.feature_image,
          alt: section.settings.feature_image.alt,
          stretch_width: true,
          progressive: true,
          additional_classes: "medium-down--hide"
  %}
  {% render 'image-element',
          image: section.settings.mobile_feature_image,
          alt: section.settings.mobile_feature_image.alt,
          stretch_width: true,
          progressive: true,
          additional_classes: "hide medium-down--show"
  %}
  <div class="caption captionOverlay--true">
    <h1 class="headline uppercase">{{ heading_title }}</h1>
  </div>    
</header>

<div class="container">
    <aside class="five columns account-sidebar">
        <ul class="select-box-menu">
          <li class="uppercase">{{ 'customer.menu.dashboard' | t | link_to : "/account" }}</li>
          <li class="uppercase active">{{ 'customer.menu.account_detail' | t | link_to: "/account/addresses#" }}</li>
          <li class="uppercase">{{ 'customer.menu.rewards' | t | link_to: "pages/swift-rewards" }}</li>
          <li class="uppercase">{{ 'customer.menu.log_out' | t | link_to: "/account/logout" }}</li>
        </ul>
      </aside>
    <main class="eleven columns account-main order">
      <div class="heading flex">
        <h4>{{ 'customer.order.title' | t: name: order.name }}</h4>
  
        {% if order.cancelled %}
          <div class="errors">
            <p class="h5">{{ 'customer.order.cancelled' | t }}</p>
          </div>
        {% else %}
          <div class="errors">
            <p class="h5">{{ 'customer.order.returned' | t }}</p>
          </div>
        {% endif %}
      </div>
      
  
      <table id="order-details" class="collapsible-table">
        <thead>
          <tr>
            <th>{{ 'customer.order.product' | t }}</th>
            <th>{{ 'customer.order.quantity' | t }}</th>
            <th>{{ 'customer.order.date' | t }}</th>
            <th>{{ 'customer.order.subtotal' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.id }}">
            <td data-label="{{ 'customer.order.product' | t }}">
              <div class="order-details__product">
                {% include 'image-element' with 
                    image: line_item.image,
                    alt: line_item.title,
                %}
                {{ line_item.title | link_to: line_item.product.url }}
              </div>
            </td>
  
            <td data-label="{{ 'customer.order.quantity' | t }}">
              {{ line_item.quantity }}
            </td>
            <td data-label="{{ 'customer.order.date' | t }}">
                {{ order.created_at | date: "%m/%d/%Y" }}
            </td>
            <td data-label="{{ 'customer.order.total' | t }}">
              <div class="order-details__total">
                {% if line_item.line_level_discount_allocations != blank %}
                  <span class="order-discount money">
                     {{line_item.final_line_price | money }}
                  </span>
                {% endif %}
  
                <span class="money {% if line_item.line_level_discount_allocations != blank %}was_price{% endif %}">
                  {{ line_item.original_line_price | money }}
                </span>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>  
          <tr>
            <td colspan="3" class="mobile_hidden align_right">
              <strong>
                {{ 'customer.order.total' | t }}
              </strong>
            </td>
  
            <td data-label="{{ 'customer.order.total' | t }}">
              <strong>
                <span class="money">
                  {{order.total_price | money}}
                </span>
              </strong>
            </td>
          </tr>
        </tfoot>
      </table>  
    </main>
</div>



{% schema %}
{
    "name": "dashboard section",
    "class": "account-section",
    "settings": [
        {
          "type": "image_picker",
          "id": "feature_image",
          "label": "Feature image"
        },
        {
          "type": "image_picker",
          "id": "mobile_feature_image",
          "label": "Mobile feature image"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color",
          "default": "#030303"
      },
      {
        "type": "select",
        "id": "pos",
        "label": "Hero banner title postion",
        "options": [
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "right",
                "label": "Right"
            },
            {
                "value": "center",
                "label": "Center"
            }
        ]
      }
    ]
}
{% endschema %}