{% if section.settings.banner_status and section.settings.image %}
  <header class="banner center page-banner dark-overlay-{{ section.settings.image_darken }}">
    {% render 'image-element',
            image: section.settings.image,
            alt: section.settings.image.alt,
            stretch_width: true,
            progressive: true
    %}
    <div class="caption captionOverlay--true">
      <h1 class="headline {%if section.settings.title_uppercase %}uppercase{%endif%}">{{ page.title }}</h1>
    </div>    
  </header>
{% endif %}
{% assign text_block_status = true %}
{% capture text_block_content %}
<div class="container">
  <div class="description-content">
    {% for block in section.blocks %}
        {% if block.type == 'text-block' %}
          <div class="one-third column gallery-cell flex">
            {% include 'description-block' with 
              title: block.settings.title,
              sub_title: block.settings.sub_title,
              desc: block.settings.description,
              style: 'style_2'
            %}
          </div>
        {% endif %}
    {% endfor %}
  </div>
</div>
{% endcapture %}
{% for block in section.blocks %}
  <div {{ block.shopify_attributes }} class="block__{{ block.type }} block__{{ block.id }}
    {% if block.type == "featured_collection" %} featured-collection-section{% endif %}">
    {% if block.type == 'image-text' %}
      {% include 'include-image-text' %}
    {% elsif block.type == "divider" %}
      {% include 'include-divider', type: 'block' %}
    {% elsif block.type == 'text-block' and text_block_status %}
      {{text_block_content}}
      {% assign text_block_status = false %}
    {% endif %}
  </div>
{% endfor %}
<div class="container">
  <div class="page-content {%if section.settings.toggle_list_status %}list-content{% endif %}">
    {% if section.settings.content != blank %}
        {% if section.settings.toggle_list_status %}
          <ul class="toggle-list">
            {% assign page_str = section.settings.content | replace: '<p><strong>', '</div></li><li><a class="toggle_btn">' | replace: '</strong></p>', '</a><div class="toggle_content animated fadeIn">' %}
            {% assign page_content = page_str | remove_first: '</div></li>' %}
            {{ page_content }}
          </ul>
        {% else %}
          {{ section.settings.content }}
        {% endif %}
    {% else %}
      {% if section.settings.toggle_list_status %}
        <ul class="toggle-list">
          {% assign page_str = page.content | replace: '<h6>', '</div></li><li><a class="toggle_btn">' | replace: '</h6>', '</a><div class="toggle_content animated fadeIn">' %}
          {% assign page_content = page_str | remove_first: '</div></li>' %}
          {{ page_content }}
        </ul>
      {% else %}
        {{ page.content }}
      {% endif %}
    {% endif %}
    
  </div>
</div>
{% schema %}
{
  "name": "Page section",
  "class": "page-section",
  "settings": [
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "checkbox",
      "id": "banner_status",
      "label": "Banner status"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image"
    },
    {
      "type": "checkbox",
      "id": "title_uppercase",
      "label": "Title uppercase"
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Image darken status"
    }
  ]
}
{% endschema %}